/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
public/vendor/unisharp
resources/material-dashboard
Notes.txt
resources/now-ui-dashboard/
Raw_files/AdminLTE-2.4.5/
Raw_files/
public/user/
public/user/bower_components  
public/admin/
/junk/
Notes.txt
